body {
    font-family: "Roboto", sans-serif;
    color:rgb(0, 0, 0);
    margin:0;
    background:cover;
    background-image: url('Quiz-App-Background-Image.jpeg');
    background-repeat: no-repeat;
    background-color: #262626;
    background-size: cover;
    background-attachment: fixed;
  }

  header {
    margin-top: 25px;
    height:80px;
    color: white;
    margin-bottom: 55px;
  }

  .row {
    text-align: left;
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }

  header h1 {
    line-height: 1;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke: 2.8px black;
    -webkit-text-fill-color: rgb(226, 226, 241);
    top:25px;
    text-align: center;
  }

  header .question-and-score {
    font-size: 30px;
    font-weight: 600px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke: 1.8px black;
    -webkit-text-fill-color: rgb(226, 226, 241);
    background: none;
  }

  .question-and-score ul {
    text-align:center;
    padding-left: 2%;
    padding-right: 2%;
  }

  .question-and-score li {
    display: inline-block;
    padding:0 2%;
  }

  button {
    height: auto;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color:white;
    background:rgb(16, 146, 16);
    border: 0;
    cursor: pointer;
    border-radius:3px;
    padding: 10px 20px;
    margin-top:10px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .display {
    width:80%;
    padding: 75px;
    margin:0 auto;
    background:rgba(255, 255, 255, 0.8);
    border-radius: 300px;
  }
  
  legend {
    font-weight: 700;
    font-size: 18px;
  }
  
  .question-form .question {
    margin-bottom: 20px;
    padding: 0 2%;
    font-size: 20px;
    font-weight: 600px;
  }
  
  .options ul {
    list-style: none;
    margin:0;
    text-align:left;
  }
  
  label {
    font-size:18px;
  }
  
  .options span {
    display:block;
    border-radius:5px;
  }
  
  .right-answer {
   background:ivory;
   padding: 10px 20px;
   margin: 5px 20px;
   border:2px solid greenyellow;
  }
  
  .wrong-answer {
    background:ivory;
    padding: 10px;
    margin: 5px 20px;
    border:2px solid #fe0000;
  }
  
  .question-form button {
    float: right;
  }
  
  button:hover:enabled,
  button:focus:enabled{
    background-color: #002fff;
    -webkit-transition: background 0.1s;
    -moz-transition: background 0.1s;
    -o-transition: background 0.1s;
    transition: background 0.1s;
  }
  
  button:disabled {
    opacity:0.5;
  }
